#upload {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

#upload > #img {
  padding: 5px;
}

/* #param > #dist {
  padding: 10px;
} */
#param {
  width: 1024px;
}

#param > #checker {
  padding: 10px;
}
#solve {
  width: 1024px;
  padding: 10px;
}
#preview {
  /* background-color: antiquewhite; */
  display: flex;
  padding: 10px;
}
#preview > img {
  width: 512px;
  height: 512px;
}
#preview > #result > .intrinsic {
  padding: 20px;
  display: flex;
}
